
#bg-color {
  background-color: #EFEEF1;
}

.div-color {
  background-color: #6504B5;
}

.card {
    margin:5px;
    background-color: #C19AB7;
    width:300px;
    height: 118px;
}

.columns{
    margin:5px;
}


#congrats {
  margin-bottom: 30px;
}

.answer-button, .contact-info {
    width: 100%;
    background-color: #6504B5;
    border-radius: 4px;
}

.answer-button:hover {
    box-shadow: 0 12px 16px 0 #6504B5, 0 17px 50px 0 rgba(248,12,3,0.24);
    cursor: pointer;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(248, 12, 3, 0.24), 0 17px 50px 0 rgba(248,12,3,0.24);
}

.navbar-item:hover {
    box-shadow: 0 12px 16px 0 #6504B5, 0 17px 50px 0 rgba(248,12,3,0.24);
    color: #6504B5;
}

nav {
    margin-top: 10px;
}

.rounded {
  border-radius: 4px;
}

.navbar-item {
    border-radius: 4px;
    color: #4a4a4a;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  font-weight: bolder;
  color: #ffffff;
}
span {
  color: #ffffff;
}

#main-title, #title-page-div, #match-main-display {
    background-color: #6504B5;
    border-radius: 4px;
}

#title-page-div{
  max-width: 550px;
  height: 100%;
}

.match-history{
  background-color: #6504B5;
  border-radius: 4px;
  height: 100%;
}

#start-button {
    margin-bottom: 20px;
}

#welcome-to-matchmaker {
    padding-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

#match-img {
    margin-top: 25px;
    margin-bottom: 10px;
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
}

#accept-match {
  margin-bottom: 15px;
}

#decline-match{
  margin-bottom: 20px;
}

#match-name {
  margin-top: 0;
  margin-bottom: 15px;
}

#match-dog-breed {
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 1.0;
}

#match-description {
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}


.sriracha {
    font-family: 'Sriracha', cursive;
}

.mali {
    font-family: 'Mali', cursive;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 0 auto 10px auto;
    padding: 0;
    opacity: 0.5;
    width: 55%;
    align-content: center;
}

#title-page-subtext {
    padding-right: 15px;
    padding-left: 15px;
}

.hero-foot {
    margin-top: 25px;
}

#display-div, #answer-columns {
    width: 100%;
}


#footer-css {
    background-color: #6504B5;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 10px;
}

#footer-text {
    opacity: 0.75;
}

/* for slideshow */

img {
  box-shadow: 0 12px 16px 0 #888888;
  

}

.need-margin {
    padding: 20px;
    padding-bottom: 5px;
    
}

#three-dot {
    padding-bottom: 5px;
    
}

.contact-button {
  width: 100%;
  margin-top: 15px;
}

.fb-share-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.slideshow-container {
    max-width: 550px;
    position: relative;
    margin: auto;
    background-color: #6504B5;
    border-radius: 4px;
  }
  
  .mySlides {
    display: none;
    position: relative;
  }

/* #slideshow{
  height: 100%;
} */


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;  
}
  
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}
  
.prev:hover, .next:hover {
  box-shadow: 0 12px 16px 0 rgba(248, 12, 3, 0.24), 0 17px 50px 0 rgba(248,12,3,0.24);
  background-color: #f14668;
  color: #ffffff;
}
  
.text {
  color: #f2f2f2;
  font-size: 15px;
  opacity: 0.75;
  text-align: center;
}
  
  
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
  background-color: #717171;
}
  
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
  
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}